header  {
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    border-bottom: 10px solid $grey-color-dark;
    box-sizing: border-box;
    height: 500px;
    margin-bottom: 2em;
    padding: 6em 20px;
    text-align: center;
    p {
        margin-bottom: 20px;
    }
}

footer {
    background: $grey-color-dark;
    color: $background-color;
    padding: 3em;
    p {
        margin: 0;
    }
}

.button {
    border: 2px solid $brand-color;
    border-radius: 2px;
    color: $brand-color;
    display: inline-block;
    margin-bottom: .5em;
    padding: .5em;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    &:hover {
        background: $brand-color;
        color: $background-color;
    }
}

.button.small {
    padding: .35em;
}

.button.extra-small {
    background: $brand-color;
    color: $background-color;
    font-size: .75em;
    padding: .25em;
    border-radius: none;
}

#to-the-top {
    background: $brand-color;
    bottom: 2em;
    color: $background-color;
    opacity: 0;
    padding: .5em;
    position: fixed;
    right: 2em;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

#to-the-top.show {
    cursor: pointer;
    opacity: 1;
}

.slideUp {
    opacity: 1;
    margin-top: 0;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

@include media-query($mobile-width) {
    header {
        padding: 0 20px;
    }
}